
.black{
    background-color: black;
}

.white{
    background-color: White;
}

.darkBlue{
    background-color: DarkBlue;
}

.lightGray{
    background-color: lightGray;
}

.lime{
    background-color: lime;
}

.lightRed{
    background-color: rgb(255, 64, 64);
}